{
    "swagger" : "2.0",
    "info" : {
      "description" : "The Client API provides access to devices and historical data to Belimo Cloud users and applications.",
      "version" : "3.5.0",
      "title" : "Belimo Cloud Client API"
    },
    "host" : "cloud.belimo.com",
    "tags" : [ ],
    "schemes" : [ "https" ],
    "paths" : {
      "/api/v3/api-info" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-api-info",
          "produces" : [ "application/json" ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"version\" : \"3.5.0\"\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_api-info1049343925"
              }
            }
          }
        }
      },
      "/api/v3/captcha" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "captcha",
          "produces" : [ "image/png" ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "image/png" : "�PNG\r\n\u001A\n\u0000\u0000\u0000\rIHDR\u0000\u0000\u0000�\u0000\u0000\u00002\b\u0002\u0000\u0000\u0000�3\u0003�\u0000\u0000\n�IDATx��{PT�\u001D�\u000F/q%jL�\u0012c�+)�\u001A�EQ�3�c�\u0018���S%�Q;�1Lu*M�ZB��\n\u0013t�\u0012�@��J�%>P��X|\u0014\b6L�\"��j\u0018%�`Qq]\u0019@��w�f�����{�����\u001F���s�9���}�A�\u0010\u000F\b\u0013[ D�%D�%D�%D�L�\u0003\u0007��@�\u0000K���\n|\u0006d\u0001\u001B�Y��\u001C\u000B��\u0002,!�\t�\u0014�\r�\u0001��\u0000\u001B�̟ `\u001E��D�%߻����������@???��� �J\u0007[[[�\u001AI&�\u0014�\u0000�\u00190\t� i\u0014�:�.�\u000F��b\u001F�9���\u0004\u0017NT33\u0001���\u000E\u001D:��U�V\u001D:t�pQs�����F�r4-��ٳg]ج��R�X���\\|\u0006.��9�\u0001E�\u0016�\r`\u001C��\u001E#��\u001D`)�\n�\u001D�۽λ�\u0015�2����\u0004XJ\t\b\b���---N.G����8��\u0006\u001C9r���Ep;�3..�\u001B��\r�\r�\u0003\u0010\r�V($?�{�\n ���\u000F{TT�d�+W��\u001A��2c�\f��d�Z\u0015\u0015\u0015\u0004��Ih\u0018\rV�|���v2���\u0003�\u0013�-X5�a���|�y\u0005I:`\u001A�\u0016�\u0010(�NU�M78W\u0000UUU]\u0006\u0016Ill��kM�4I�$4X��\r\u0006C�\u0013feey\n,oo\u0016\u001C̖.e����iV_/#i0\u0010\u0001�\u0002�\u000F\\\u0001\u001E��<��GEEu%X$J����^����[�l۶���\u0006�)*�?{��\u000EoiΜ9��E�\u001A\u0012�V�`;v��bf4�H\n\u0004~\b�\u0006�\b�/��{\u0013�\u001Dn+��Z�e\u001B�\u0015\u0017\u0017��U�ٸq��B\u000B\u0016,��ٺu��\u0000bK6�NQ��\u001B7n�ĝF�\b�NǦNekײ��P�_a�^\u0004�o��@\u001EP���P-��6m��`Y%>>^6�T��\u0007�)$\n'e�\u0005�J\u0007e*M�c�����I�Tf��*��>p\u0002���\u001Ee׮��V[���a<5�:�[�\u0004�Bq\tp��E\u0011�?�\u000B���J�?@\rO\u0013�\u0001\u001A�Ƨ�\u0014�%//�C`]�zU�,�\u000E8J�G�\u001F�l�25�,�1c�(o233��\u0017__��sl��\u0011�������i�\f��;�1���\u0004�{\fP�����%�\u0003�G���=)������p\n�\u0003�d�\u000BD\u0002?\u0006~\u0002��g��\u0000�_r#�;�l\u000F\u0001kܸq\u001E\u0002���2��\u001D���(\u001B�w�^�<tP6L��;_��\u000B\u0017Xx8ۼ��;�rr؞=������02X�ξ���L.?{)�M3\\�\"��\u0007\u000FJ���\u001B��?��\u001CJz��'��\u0013\u0010�]�Y��0N\t��20��3\u0014\u0018�y�шN}w�E�Ovd����\u0002֒%K�8�J\u0007�N��o\u001D�P�\u0003��\u000F2�G[��AK�\u0014��ֲ�����a��$\u001D\u0010�3�[�!k���]�\u00006r��?n%�VVs�I��<�E��$����\u001E���\u0017yv\u0001�y�t\u0013���4�2\u0019=b�\bY~\\\u0013������B��d\u0003�z:�g�0I\u000F�Ǝ2\u0018�3�u�>��\u0013I���JKc\u0014I,Z����\u0012`ϝ;l�z�s';�=x ;q(7d\n��ݠ6�\u001B�\u0014\u0014��\u0005��GEE�\u000E���t��\u001E\u0011\u0011a;`Ȑ!�\u0001���J=���cV^Έ\u0015{\f=\u000BL济w�_0��#;�Ɍ���)S���A��S�ő�p�&;v���ӧoh�c�:�4\u0000���Rv���ݻw�J7�?~���\u001D�\u001Bt\u0014�[3@�֑.��ܖݻ'��l��d3Cw\u0014K~\u0000L���t\u0012yf�/K��}�F�p(\u0005to���ΕT�\u0003�\u0005X.֒�y&ۧ�5\tR�ѣ٪U��\u0011�I��!�\u0002�d\nl}5b�\u0014�£��9:�\"mWQ᝕��d:��\u0017���\u0006eޕ�ڵk\u0002,w�����U�l+Ӟ\u0000�\\�l�\u001E�[<�oG��묤D�@\u000F���\u0017؂\u0005z�{��B����\"����֬���\\)*s�Jg@M�)�R�xHE9�Lk\u000E��E�Қ�\u0016�$�\u0013\u000EHQ\u001D>��|��\u0007G��ƫ\u001Fl�b���N�`uu2��\u0001f\u0000?\u0007�\u0004\\$�쥯rrrd��\u0011��9}\u001B,릺\u0007\u00169U2��Z��\u0006,27�f�{������E�tկ�3�c\r\u001A���c^�5���L��V}�ϙ3o���y�n���\"�-\f�>AG�\u000F4�k`=\u0015Qa'SfN���A��i��\"4��\u001D�̆\rA\u001F���h����Б\u0001�TF�d�CC%��kה�V�b\u0005Ϸ����YR\u0012[���\u001Ci\u000E5�nMll��\u0006!��LG-\u0018},ݠ]5�y�K\rX��W�o��ت��m�5�\\�\u000E\"���]�Ț�e�3���m\u0002\nx7\u001C����\u0016f1�Lv]�N\t�`4\u001A�<X�֯e5���N�����\u001C+�z�4�\u001E��E7\n�*+YV\u0016۰!���^'3�VIOOgZ\b�#�r�ǲ����]��B\u0018�r���[i�1�\u0012�ސ��-�8��\t\u001B�8�\u001F�}^M{�\f\\x8\u001B0������D��ӧk\u0002\u0016�#��\u0006���<�q���3\u0011�Sh)�=?\"�]��J�oޖ�\u0014�\u0010�K\u0010�\u0001��ħ�����\"4�nP���\u0011��%\u0001V��\"QV�\u001D��O��\nͣGRҨ�B֙4�.f\u0015!~\u000B�\u001C��ơ��u˫�\u001FK�:qG�\r�\u0002,\u0017�*++밃�#2����-\u0003MM�p�����jס��7\t�\u0015����]d�\u0016\u0016-2|�p\u0001�6`9JF3//6q�Twkh�?P���:�\u0012\u0012�̙��\u0016c��=--���C&\r\r\rv�<;y�\u0000K\u001B������b__�# >^*�?|��[\u0002~\u0004l��\u0000\u001A���v�-���\u0010�*?�bbb\u0004X\u001A���\u001B�Bss%%�x�DRW{�^��O�pg/]��2�Dܗ��+U���I�y��\n�:\u0000�\u0018o����i\u0000�\u000Bu�\n���^��|?�z9p��\u001A�h��\\\u0002��wojjj�������\u0007k�M�7ϛO��Q�<xq1�7ϝF�NIQQ�]\u0007�*���vO\f\u000B\u000Bs�VG�844�\u000B^\t�#��w����\u0012�^����G^u�o�\u001DijjJOO7�ڌ���,�\u0010\u0010\u0010��B܃\u001ET�������N�\u0010�F7\u0016�tWF���#�@U��\u0015\u0016\u0016�i��\u0004\u001F�DQE��ˋ\u0016�(\u0004��y�n4\u001A���e݈\u0005\u0005\u0005�k�%��\u000E�R��2XT\u0017��<���-���\u001E<x�\u0015,����P����T�;\u001A+���o_X\f����\u0019\u0011\u0011QWW'\u0010�\u0010��r�\u0016��+$))I}C��n�\n�Yl�-��B�\u0002�\u0017\u0019A!�\t��e\u0004��\u000E��\u0011\u0014�=X�\b\n�\bXK�\u0011\u0014�!�\u0015#��\u0010\u0007�\u0005>�c�ݢ�\u0000\u0000\u0000\u0000IEND�B`�"
              },
              "headers" : {
                "captchaId" : {
                  "type" : "string",
                  "description" : "Unique identifier for this captcha image."
                }
              }
            }
          }
        }
      },
      "/api/v3/devices" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-devices",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "state",
            "in" : "query",
            "description" : "*Optional* parameter to filter by device registration state. Must be one of `REGISTERED`, `UNREGISTERED` or `ALL`, where `REGISTERED` will only return devices that have contacted the server at least once, `UNREGISTERED` will only return devices that have never been online and `ALL` will return all devices. Defaults to `ALL`.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "search",
            "in" : "query",
            "description" : "*Optional* parameter to filter by display name or MP serial number. All devices that contain the given string (case insensitive comparison) will be returned. Must not be empty, if defined.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "owner",
            "in" : "query",
            "description" : "*Optional* owner of the devices to search, can be an email address, user-ID, group-ID. If no value is provided, all devices that are visible to the current user will be returned, otherwise all devices that are directly or indirectly owned by the specified owner entity. Note that an empty response will result if another owner is specified by a user without elevated privileges or the owner is unknown.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "limit",
            "in" : "query",
            "description" : "*Optional* maximum number of records to return. Defaults to 20, maximum is 2000. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "offset",
            "in" : "query",
            "description" : "*Optional* offset of the first record to return (based on the current sort). Defaults to 0. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortBy",
            "in" : "query",
            "description" : "*Optional* name of a field to sort the result after. Possible values are `id`, `productionId`, `displayName`, `serialNumber`, `deviceType`, `owner.displayName`, `dataprofile.displayName`, `software.displayName`, `health.state`, `health.lastSeen`, `projectName`, `addressCity`, `addressCountry`. Defaults to `name`. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortDirection",
            "in" : "query",
            "description" : "*Optional* sort direction. Default is ASC. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"data\" : [ {\n    \"id\" : \"0d37415c-5e13-4480-a822-4dc29b782c0f\",\n    \"productionId\" : \"DEV_cn-1000000\",\n    \"displayName\" : \"M30\",\n    \"serialNumber\" : \"serial-1000000\",\n    \"materialNumber\" : \"GR24A-EV-100\",\n    \"deviceType\" : \"1:testDevice\",\n    \"productionDate\" : \"2019-10-15T08:47:44.501Z\",\n    \"purpose\" : \"DEVELOPMENT\",\n    \"dataprofile\" : {\n      \"entityId\" : \"2uTRMlbK/1.0\",\n      \"ref\" : \"/definitions/dataprofiles/2uTRMlbK/1.0\",\n      \"displayName\" : \"restdoc.device.hlk/1.0\"\n    },\n    \"runningSoftwareModules\" : {\n      \"model\" : \"3.35.363-0\",\n      \"bsp\" : \"9.4.0-0\"\n    },\n    \"health\" : {\n      \"onlineDays\" : 0,\n      \"state\" : \"WARNING\",\n      \"description\" : \"Flow too low\"\n    },\n    \"owner\" : {\n      \"entityId\" : \"vHe1qeBV\",\n      \"ref\" : \"/users/vHe1qeBV\",\n      \"displayName\" : \"John Tester\",\n      \"email\" : \"john@belimo.local\"\n    },\n    \"projectName\" : \"Demo\",\n    \"addressCity\" : \"Hinwil\",\n    \"addressCountry\" : \"CH\",\n    \"remoteControlEnabled\" : true,\n    \"claimingProtectionActive\" : false,\n    \"state\" : {\n      \"timestamp\" : \"2018-06-20T11:04:06.000Z\",\n      \"datapoints\" : {\n        \"timeline.1\" : {\n          \"value\" : \"1:{\\\"metadata.1001\\\":\\\"M30\\\"}\"\n        },\n        \"metadata.7\" : {\n          \"value\" : \"DEVICE_CONTROLLED\"\n        },\n        \"metadata.1011\" : {\n          \"value\" : \"US\"\n        },\n        \"metadata.1001\" : {\n          \"value\" : \"M30\"\n        },\n        \"metadata.2\" : {\n          \"value\" : \"vHe1qeBV\"\n        },\n        \"metadata.6\" : {\n          \"value\" : false\n        },\n        \"metadata.5\" : {\n          \"value\" : false\n        },\n        \"metadata.3\" : {\n          \"value\" : \"testdev1/0.1\"\n        }\n      }\n    }\n  } ],\n  \"paging\" : {\n    \"total\" : 1,\n    \"offset\" : 0,\n    \"limit\" : 20\n  },\n  \"sorting\" : {\n    \"field\" : \"productionId\",\n    \"direction\" : \"ASC\"\n  },\n  \"filter\" : {\n    \"search\" : \"M30\",\n    \"state\" : \"UNREGISTERED\",\n    \"owner\" : \"john@belimo.local\"\n  }\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_devices4885777"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        },
        "post" : {
          "tags" : [ "api" ],
          "operationId" : "post-devices-add",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/api_v3_devices-1348164711"
            },
            "x-examples" : {
              "application/json" : "{\n  \"op\" : \"SWUPDATE\",\n  \"data\" : {\n    \"deviceId\" : \"8f9c19cf-b223-4e06-a9f6-24d433e2b323\",\n    \"softwareUpdateId\" : \"updateId1\"\n  }\n}"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"id\" : \"de17f9ec-3299-4d33-b092-b053a413ca25\",\n  \"displayName\" : \"serial-1000001\",\n  \"serialNumber\" : \"serial-1000001\"\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_devices-964592574"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/devicetransfers" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-device-transfers",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "direction",
            "in" : "query",
            "description" : "*Optional* filter to specify the direction of the returned transfers. Must be one of `INCOMING` (current user is receiver of transfer), `OUTGOING` (current user has initiated transfer) or `ALL`. Defaults to `ALL`.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "limit",
            "in" : "query",
            "description" : "*Optional* maximum number of records to return. Defaults to 20, maximum is 2000. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "offset",
            "in" : "query",
            "description" : "*Optional* offset of the first record to return (based on the current sort). Defaults to 0. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortBy",
            "in" : "query",
            "description" : "*Optional* name of a field to sort the result after. Possible values are `id`, `createdAt`. Defaults to `createdAt`. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortDirection",
            "in" : "query",
            "description" : "*Optional* sort direction. Default is ASC. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"data\" : [ {\n    \"id\" : \"rli87HTt\",\n    \"device\" : {\n      \"id\" : \"98ac031d-583a-4788-a8f5-d8981f0b9fb5\",\n      \"displayName\" : \"serial-1000000\",\n      \"serialNumber\" : \"serial-1000000\"\n    },\n    \"owner\" : {\n      \"id\" : \"FxEBVUrh\",\n      \"displayName\" : \"John Tester\",\n      \"email\" : \"john@belimo.local\"\n    },\n    \"receiver\" : {\n      \"id\" : \"8KzjuYYU\",\n      \"displayName\" : \"Alice Tester\",\n      \"email\" : \"alice@belimo.local\"\n    },\n    \"withData\" : false,\n    \"createdAt\" : \"2019-10-15T08:49:45.197Z\"\n  }, {\n    \"id\" : \"IRrHKhDZ\",\n    \"device\" : {\n      \"id\" : \"5d56291d-73cf-4558-b85d-33c7246d81d6\",\n      \"displayName\" : \"Heating Zone 1\",\n      \"serialNumber\" : \"serial-1000001\"\n    },\n    \"owner\" : {\n      \"id\" : \"FxEBVUrh\",\n      \"displayName\" : \"John Tester\",\n      \"email\" : \"john@belimo.local\"\n    },\n    \"receiver\" : {\n      \"id\" : \"VQJRWEA5WL\",\n      \"displayName\" : \"testgroup-VQJRWEA5WL\"\n    },\n    \"withData\" : true,\n    \"createdAt\" : \"2019-10-15T08:49:45.202Z\"\n  } ],\n  \"paging\" : {\n    \"total\" : 2,\n    \"offset\" : 0,\n    \"limit\" : 20\n  },\n  \"sorting\" : {\n    \"field\" : \"createdAt\",\n    \"direction\" : \"ASC\"\n  }\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_devicetransfers-811869124"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/roles" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-roles",
          "produces" : [ "application/json" ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"roles\" : [ \"DEVICE_SUPPORT\", \"USER_SUPPORT\", \"DATA_ANALYST\", \"DEVICE_DEVELOPER\", \"CLIENT_DEVELOPER\", \"INTERNAL_DEVELOPER\", \"CLOUD_MANAGER\", \"USER_ADMIN\", \"SW_ADMIN\", \"METERING_COMMISSIONER_ADMIN\", \"ADMIN\", \"BETA_TESTER\" ]\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_roles1884140733"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/user" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-user-no-scope",
          "produces" : [ "application/json" ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"id\" : \"i4MYSb1M\",\n  \"email\" : \"john@belimo.local\",\n  \"accountActivated\" : true,\n  \"locale\" : \"en_US\",\n  \"roles\" : [ ],\n  \"firstName\" : \"John\",\n  \"lastName\" : \"Tester\"\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_user-663771312"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/usergroups" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-user-groups",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "member",
            "in" : "query",
            "description" : "*Optional* filter parameter: ID or email of a user who must be member of the returned user groups.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "admin",
            "in" : "query",
            "description" : "*Optional* filter parameter: ID or email of a user who must be admin of the returned user groups.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "name",
            "in" : "query",
            "description" : "*Optional* filter parameter: any substring of the group's display name (case insensitive).",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "limit",
            "in" : "query",
            "description" : "*Optional* maximum number of records to return. Defaults to 20, maximum is 2000. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "offset",
            "in" : "query",
            "description" : "*Optional* offset of the first record to return (based on the current sort). Defaults to 0. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortBy",
            "in" : "query",
            "description" : "*Optional* name of a field to sort the result after. Possible values are `id`, `displayName`. Defaults to `name`. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortDirection",
            "in" : "query",
            "description" : "*Optional* sort direction. Default is ASC. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"data\" : [ {\n    \"id\" : \"2BCMJJM8CJ\",\n    \"displayName\" : \"testgroup-2BCMJJM8CJ\",\n    \"members\" : 2,\n    \"administrators\" : 2,\n    \"permissions\" : [ \"DELETE\", \"EDIT\" ]\n  } ],\n  \"paging\" : {\n    \"total\" : 1,\n    \"offset\" : 0,\n    \"limit\" : 20\n  },\n  \"sorting\" : {\n    \"field\" : \"displayName\",\n    \"direction\" : \"ASC\"\n  },\n  \"filter\" : {\n    \"name\" : \"Test\",\n    \"admin\" : \"JRvzk7ck\"\n  }\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_usergroups-1633859777"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        },
        "post" : {
          "tags" : [ "api" ],
          "operationId" : "post-user-groups-create",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/api_v3_usergroups664887621"
            },
            "x-examples" : {
              "application/json" : "{\n  \"op\" : \"CREATE\",\n  \"data\" : {\n    \"name\" : \"Building Managers\"\n  }\n}"
            }
          } ],
          "responses" : {
            "201" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"id\" : \"3WWV94WNAX\",\n  \"displayName\" : \"Building Managers\",\n  \"members\" : 1,\n  \"administrators\" : 1,\n  \"permissions\" : [ \"DELETE\", \"EDIT\" ]\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_usergroups-1577518566"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/users" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-users",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "search",
            "in" : "query",
            "description" : "*Optional* parameter to filter by id, email, first name, last name, display name of associated groups and name of associated role (case insensitive infix).",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "email",
            "in" : "query",
            "description" : "*Optional* parameter to filter by email.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "firstName",
            "in" : "query",
            "description" : "*Optional* parameter to filter by first name (case insensitive prefix).",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "lastName",
            "in" : "query",
            "description" : "*Optional* parameter to filter by last name (case insensitive prefix).",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "limit",
            "in" : "query",
            "description" : "*Optional* maximum number of records to return. Defaults to 20, maximum is 2000. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "offset",
            "in" : "query",
            "description" : "*Optional* offset of the first record to return (based on the current sort). Defaults to 0. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortBy",
            "in" : "query",
            "description" : "*Optional* name of a field to sort the result after. Possible values are `id`, `firstName`, `lastName`, `email`. Defaults to `lastName`. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortDirection",
            "in" : "query",
            "description" : "*Optional* sort direction. Default is ASC. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"data\" : [ {\n    \"id\" : \"1TeJoxVm\",\n    \"email\" : \"john@belimo.local\",\n    \"accountActivated\" : true,\n    \"locale\" : \"en_US\",\n    \"roles\" : [ ],\n    \"groups\" : [ {\n      \"entityId\" : \"YZ1JOAMEYG\",\n      \"ref\" : \"/usergroups/YZ1JOAMEYG\",\n      \"displayName\" : \"testgroup-YZ1JOAMEYG\"\n    } ],\n    \"firstName\" : \"John\",\n    \"lastName\" : \"Tester\",\n    \"title\" : \"Dr. Dr.\",\n    \"company\" : \"Test Inc.\",\n    \"address1\" : \"Apartment 3141\",\n    \"address2\" : \"Icestreet 1\",\n    \"state\" : \"Alaska\",\n    \"zip\" : \"12345\",\n    \"city\" : \"Frozentown\",\n    \"countryCode\" : \"US\",\n    \"department\" : \"Test Department\",\n    \"jobFunction\" : \"OTHER\",\n    \"phone\" : \"0123456789\",\n    \"newsletter\" : true,\n    \"lastUpdated\" : \"2019-10-15T08:48:16.463Z\",\n    \"activationDate\" : \"2019-10-15T08:48:16.460Z\",\n    \"registrationDate\" : \"2019-10-15T08:48:16.463Z\"\n  } ],\n  \"paging\" : {\n    \"total\" : 1,\n    \"offset\" : 0,\n    \"limit\" : 20\n  },\n  \"sorting\" : {\n    \"field\" : \"lastName\",\n    \"direction\" : \"ASC\"\n  },\n  \"filter\" : {\n    \"email\" : \"john@belimo.local\"\n  }\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_users965988371"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        },
        "post" : {
          "tags" : [ "api" ],
          "operationId" : "create-user",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/api_v3_users1529036887"
            },
            "x-examples" : {
              "application/json" : "{\n  \"op\" : \"DELETE\",\n  \"data\" : {\n    \"password\" : \"test\",\n    \"id\" : \"QnZh5i1I\"\n  }\n}"
            }
          } ],
          "responses" : {
            "201" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"userId\" : \"InHIRc5w\",\n  \"activated\" : false,\n  \"expiry\" : \"2018-07-04T11:04:06.000Z\",\n  \"redirectUrl\" : \"https://www.slate-rock-and-gravel.com/gravel?state=state-parameter\"\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_users1226525641"
              }
            },
            "204" : {
              "description" : "",
              "examples" : { }
            }
          }
        }
      },
      "/api/v3/definitions/dataprofiles" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-dataprofiles",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "limit",
            "in" : "query",
            "description" : "*Optional* maximum number of records to return. Defaults to 20, maximum is 2000. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "offset",
            "in" : "query",
            "description" : "*Optional* offset of the first record to return (based on the current sort). Defaults to 0. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortBy",
            "in" : "query",
            "description" : "*Optional* name of a field to sort the result after. Possible values are `name`, `version`. Defaults to `name`. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortDirection",
            "in" : "query",
            "description" : "*Optional* sort direction. Default is ASC. See <<collection-results>>.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "expanded",
            "in" : "query",
            "description" : "*Optional* parameter to expand or collapse the returned dataprofile definitions result. `expanded=false` omits the fields `aspects`, `subprofiles`, and `datapoints` from the result `data` as defined in <<get-dataprofile>>. *Default:* `expanded=true` to be backwards compatible. *However the default is set to change in the future and clients are strongly encouraged to implement the new query parameter.*",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"data\" : [ {\n    \"id\" : \"server\",\n    \"version\" : \"0.2\",\n    \"ref\" : \"server/0.2\",\n    \"name\" : \"belimo.cloud.server\",\n    \"state\" : \"UNPUBLISHED\",\n    \"properties\" : {\n      \"description\" : \"\\\"Fake\\\" server data profile to include metadata subprofile.\"\n    },\n    \"aspects\" : [ {\n      \"id\" : \"bMg3Fgui\",\n      \"version\" : \"0.1\",\n      \"ref\" : \"bMg3Fgui/0.1\",\n      \"name\" : \"belimo.common.gui\",\n      \"properties\" : {\n        \"date\" : \"2016-09-06\",\n        \"state\" : \"final\",\n        \"author\" : \"kvg@ergon.ch\"\n      },\n      \"features\" : [ {\n        \"name\" : \"min\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"visibility\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"max\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"displayname\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"displayunit\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"enumeration\",\n        \"optional\" : true\n      } ]\n    }, {\n      \"id\" : \"default\",\n      \"version\" : \"0.3\",\n      \"ref\" : \"default/0.3\",\n      \"name\" : \"default\",\n      \"properties\" : {\n        \"date\" : \"2016-12-02\",\n        \"state\" : \"final\",\n        \"author\" : \"kvg@ergon.ch\"\n      },\n      \"features\" : [ {\n        \"name\" : \"unit\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"access\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"format\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"name\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"restriction\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"basetype\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"description\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"privacy\",\n        \"optional\" : true\n      } ]\n    } ],\n    \"subprofiles\" : [ {\n      \"id\" : \"metadata\",\n      \"version\" : \"0.3\",\n      \"ref\" : \"metadata/0.3\",\n      \"name\" : \"belimo.cloud.device.metadata\",\n      \"state\" : \"LOCKED\",\n      \"properties\" : { },\n      \"supportedAspects\" : [ \"default/0.3\", \"bMg3Fgui/0.1\" ],\n      \"datapoints\" : [ \"metadata.7\", \"metadata.1011\", \"metadata.1001\", \"metadata.1012\", \"metadata.1010\", \"metadata.2\", \"metadata.1\", \"metadata.6\", \"metadata.5\", \"metadata.4\", \"metadata.3\", \"metadata.1015\", \"metadata.1004\", \"metadata.1016\", \"metadata.1005\", \"metadata.1002\", \"metadata.1013\", \"metadata.1014\", \"metadata.1003\", \"metadata.1008\", \"metadata.1009\", \"metadata.1006\", \"metadata.1017\", \"metadata.1007\" ]\n    } ],\n    \"datapoints\" : [ {\n      \"id\" : \"metadata.1\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Client IP\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Client-IP as seen by server.\",\n        \"default.format\" : \"application/vnd.belimo.ipv4\",\n        \"default.name\" : \"/metadata/server/clientIp\",\n        \"default.privacy\" : \"true\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1001\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Device name\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Human readable name of the\\n\\t\\t\\t\\t\\t\\t\\tdevice, used as a tag or reference to a HVAC system plan. This is\\n\\t\\t\\t\\t\\t\\t\\tthe name that should be used as handle for the display on all GUI\\n\\t\\t\\t\\t\\t\\t\\tapplications.\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/deviceName\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,255]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1002\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Project name\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"HVAC overall project name.\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/projectName\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,255]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1003\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Type of building\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Type of the building in which the device is used.\",\n        \"default.format\" : \"application/vnd.belimo.buildingType\",\n        \"default.name\" : \"/metadata/buildingType\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,255]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1004\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Device location\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"User description of device\\n\\t\\t\\t\\t\\t\\t\\tlocation inside building.\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/location/name\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,255]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1005\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Address description\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"An optional description for the\\n\\t\\t\\t\\t\\t\\t\\tlocation at this address (resident, building, place name).\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/location/address/description\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,255]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1006\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Address line 1\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Address line 1 (e.g. street and number)\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/location/address/line1\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,20]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1007\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Address line 2\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Address line 2 (e.g. apt, floor)\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/location/address/line2\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,50]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1008\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"ZIP\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"City zip code\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/location/address/zip\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,10]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1009\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"City\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"City name\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/location/address/city\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,50]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1010\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"State, county or region\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"State, County or region name\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/location/address/state\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,50]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1011\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Country code\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Country code\",\n        \"default.format\" : \"application/vnd.belimo.iso3166;alpha2\",\n        \"default.name\" : \"/metadata/location/address/countryCode\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,2]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1012\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Latitude\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"real\",\n        \"default.description\" : \"Location coordinate latitude in\\n\\t\\t\\t\\t\\t\\t\\tWGS84 (decimal) format.\",\n        \"default.name\" : \"/metadata/location/coord/lat\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"[-180.0,180.0]\",\n        \"default.unit\" : \"degree\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1013\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Longitude\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"real\",\n        \"default.description\" : \"Location coordinate longitude in\\n\\t\\t\\t\\t\\t\\t\\tWGS84 (decimal) format.\",\n        \"default.name\" : \"/metadata/location/coord/long\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"[-180.0,180.0]\",\n        \"default.unit\" : \"degree\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1014\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Coordinates Source\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Location coordinate source, must\\n\\t\\t\\t\\t\\t\\t\\tbe set together with lat/long!\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/location/coord/source\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"re:(user:.*|gps|ip);len:[0,255]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1015\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Type of application\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Type of the application that runs\\n\\t\\t\\t\\t\\t\\t\\ton the device.\",\n        \"default.format\" : \"application/vnd.belimo.applicationType\",\n        \"default.name\" : \"/metadata/applicationType\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,255]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1016\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Blurred latitude\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"real\",\n        \"default.description\" : \"Blurred location coordinate latitude in\\n\\t\\t\\t\\t\\t\\t\\tWGS84 (decimal) format.\\n\\t\\t\\t\\t\\t\\t\",\n        \"default.name\" : \"/metadata/location/coord/latBlurred\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"[-180.0,180.0]\",\n        \"default.unit\" : \"degree\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.1017\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Blurred longitude\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"real\",\n        \"default.description\" : \"Blurred location coordinate longitude in\\n\\t\\t\\t\\t\\t\\t\\tWGS84 (decimal) format.\\n\\t\\t\\t\\t\\t\\t\",\n        \"default.name\" : \"/metadata/location/coord/longBlurred\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"[-180.0,180.0]\",\n        \"default.unit\" : \"degree\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.2\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Owner\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"ID of device owner.\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/server/owner\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,10]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.3\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Data profile\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Current data profile of device.\",\n        \"default.format\" : \"application/vnd.belimo.versionedref\",\n        \"default.name\" : \"/metadata/server/dataProfile\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,255]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.4\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Software version\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"ID of active software version of device.\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/server/softwareVersion\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,10]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.5\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Cloud control enabled\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"bool\",\n        \"default.description\" : \"Is cloud control allowed for device?\",\n        \"default.name\" : \"/metadata/server/cloudControlEnabled\",\n        \"default.privacy\" : \"true\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.6\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Software update supported\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"bool\",\n        \"default.description\" : \"Does device support software updates?\",\n        \"default.name\" : \"/metadata/server/swUpdateSupported\",\n        \"default.privacy\" : \"true\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    }, {\n      \"id\" : \"metadata.7\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Software update mode\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Software update mode (only active if software update flag is true).\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/metadata/server/swUpdateMode\",\n        \"default.privacy\" : \"true\",\n        \"default.restriction\" : \"len:[0,30]\"\n      },\n      \"definedBy\" : \"metadata/0.3\"\n    } ],\n    \"subprofileRefs\" : [ \"metadata/0.3\" ],\n    \"aggregatedSupportedAspects\" : [ \"bMg3Fgui/0.1\", \"default/0.3\" ]\n  }, {\n    \"id\" : \"default\",\n    \"version\" : \"0.1\",\n    \"ref\" : \"default/0.1\",\n    \"name\" : \"belimo.profiles.default\",\n    \"state\" : \"UNPUBLISHED\",\n    \"properties\" : {\n      \"description\" : \"Default data profile. Will be set for devices that do not have a known data profile.\"\n    },\n    \"aspects\" : [ {\n      \"id\" : \"default\",\n      \"version\" : \"0.3\",\n      \"ref\" : \"default/0.3\",\n      \"name\" : \"default\",\n      \"properties\" : {\n        \"date\" : \"2016-12-02\",\n        \"state\" : \"final\",\n        \"author\" : \"kvg@ergon.ch\"\n      },\n      \"features\" : [ {\n        \"name\" : \"unit\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"access\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"format\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"name\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"restriction\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"basetype\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"description\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"privacy\",\n        \"optional\" : true\n      } ]\n    } ],\n    \"subprofiles\" : [ {\n      \"id\" : \"default\",\n      \"version\" : \"0.1\",\n      \"ref\" : \"default/0.1\",\n      \"name\" : \"belimo.device.default\",\n      \"state\" : \"LOCKED\",\n      \"properties\" : {\n        \"description\" : \"Default sub profile.\"\n      },\n      \"supportedAspects\" : [ \"default/0.3\" ],\n      \"datapoints\" : [ \"default.3\", \"default.2\", \"default.1\" ]\n    } ],\n    \"datapoints\" : [ {\n      \"id\" : \"default.1\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Device health status\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Aggregated health status\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/device/info/health/status\",\n        \"default.restriction\" : \"re:(OK|WARN|ERROR|UNKNOWN)\"\n      },\n      \"definedBy\" : \"default/0.1\"\n    }, {\n      \"id\" : \"default.2\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Device health description\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Description of health status,\\n\\t\\t\\t\\t\\t\\t\\tshould be set together with status\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/device/info/health/description\",\n        \"default.restriction\" : \"len:[0,255]\"\n      },\n      \"definedBy\" : \"default/0.1\"\n    }, {\n      \"id\" : \"default.3\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Activated features\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"List of activated features\",\n        \"default.format\" : \"application/vnd.belimo.faklist\",\n        \"default.name\" : \"/device/info/activatedFeatures\",\n        \"default.restriction\" : \"re:\\\\[(?:(\\\\{[\\\\s\\\\w_-]+,[A-Za-z0-9_-]+,[0-9]+,[0-9]+,[0-9]+\\\\})(,\\\\{[\\\\s\\\\w_-]+,[A-Za-z0-9_-]+,[0-9]+,[0-9]+,[0-9]+\\\\})*)?\\\\]\"\n      },\n      \"definedBy\" : \"default/0.1\"\n    } ],\n    \"subprofileRefs\" : [ \"default/0.1\" ],\n    \"aggregatedSupportedAspects\" : [ \"default/0.3\" ]\n  }, {\n    \"id\" : \"2uTRMlbK\",\n    \"version\" : \"1.0\",\n    \"ref\" : \"2uTRMlbK/1.0\",\n    \"name\" : \"restdoc.device.hlk\",\n    \"state\" : \"UNPUBLISHED\",\n    \"properties\" : { },\n    \"aspects\" : [ {\n      \"id\" : \"default\",\n      \"version\" : \"0.2\",\n      \"ref\" : \"default/0.2\",\n      \"name\" : \"default\",\n      \"properties\" : {\n        \"replaced_by\" : \"default/0.3\",\n        \"state\" : \"deprecated\"\n      },\n      \"features\" : [ {\n        \"name\" : \"access\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"format\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"name\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"restriction\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"basetype\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"description\",\n        \"optional\" : true\n      } ]\n    }, {\n      \"id\" : \"default\",\n      \"version\" : \"0.3\",\n      \"ref\" : \"default/0.3\",\n      \"name\" : \"default\",\n      \"properties\" : {\n        \"date\" : \"2016-12-02\",\n        \"state\" : \"final\",\n        \"author\" : \"kvg@ergon.ch\"\n      },\n      \"features\" : [ {\n        \"name\" : \"unit\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"access\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"format\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"name\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"restriction\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"basetype\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"description\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"privacy\",\n        \"optional\" : true\n      } ]\n    }, {\n      \"id\" : \"ohNBB283\",\n      \"version\" : \"0.1\",\n      \"ref\" : \"ohNBB283/0.1\",\n      \"name\" : \"restdoc.aspect.mp_info\",\n      \"properties\" : {\n        \"desc\" : \"mp aspect: requires each datapoint to have a 'mp_addr' and a 'mem_size' (in bytes) and optional 'offset'\"\n      },\n      \"features\" : [ {\n        \"name\" : \"mp_addr\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"offset\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"mem_size\",\n        \"optional\" : false\n      } ]\n    } ],\n    \"subprofiles\" : [ {\n      \"id\" : \"772bpRFm\",\n      \"version\" : \"0.1\",\n      \"ref\" : \"772bpRFm/0.1\",\n      \"name\" : \"restdoc.profile.hlk_device\",\n      \"state\" : \"LOCKED\",\n      \"properties\" : {\n        \"desc\" : \"test profile for hlk devices\"\n      },\n      \"supportedAspects\" : [ \"default/0.2\", \"ohNBB283/0.1\" ],\n      \"datapoints\" : [ \"772bpRFm.1\", \"772bpRFm.2\", \"772bpRFm.3\", \"772bpRFm.4\" ]\n    }, {\n      \"id\" : \"default\",\n      \"version\" : \"0.1\",\n      \"ref\" : \"default/0.1\",\n      \"name\" : \"belimo.device.default\",\n      \"state\" : \"LOCKED\",\n      \"properties\" : {\n        \"description\" : \"Default sub profile.\"\n      },\n      \"supportedAspects\" : [ \"default/0.3\" ],\n      \"datapoints\" : [ \"default.3\", \"default.2\", \"default.1\" ]\n    }, {\n      \"id\" : \"zwk892PP\",\n      \"version\" : \"0.2\",\n      \"ref\" : \"zwk892PP/0.2\",\n      \"name\" : \"restdoc.profile.sensor.temperature\",\n      \"state\" : \"LOCKED\",\n      \"properties\" : {\n        \"desc\" : \"Unit temperature sensor dataprofile\"\n      },\n      \"supportedAspects\" : [ \"default/0.2\" ],\n      \"datapoints\" : [ \"zwk892PP.1\", \"zwk892PP.2\" ]\n    } ],\n    \"datapoints\" : [ {\n      \"id\" : \"772bpRFm.1\",\n      \"featureValues\" : {\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"real\",\n        \"default.description\" : \"Temperature setpoint\",\n        \"default.name\" : \"/hlk/temp_setpoint\",\n        \"default.restriction\" : \"b32\",\n        \"ohNBB283.mem_size\" : \"32\",\n        \"ohNBB283.mp_addr\" : \"mp5\"\n      },\n      \"definedBy\" : \"772bpRFm/0.1\"\n    }, {\n      \"id\" : \"772bpRFm.2\",\n      \"featureValues\" : {\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"int\",\n        \"default.description\" : \"Flow in m3 (rounded)\",\n        \"default.name\" : \"/hlk/flow_m3\",\n        \"default.restriction\" : \"int32\",\n        \"ohNBB283.mem_size\" : \"2\",\n        \"ohNBB283.mp_addr\" : \"mp1\"\n      },\n      \"definedBy\" : \"772bpRFm/0.1\"\n    }, {\n      \"id\" : \"772bpRFm.3\",\n      \"featureValues\" : {\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Mode (cc/ccw)\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/hlk/mode\",\n        \"ohNBB283.mem_size\" : \"99\",\n        \"ohNBB283.mp_addr\" : \"mp4\"\n      },\n      \"definedBy\" : \"772bpRFm/0.1\"\n    }, {\n      \"id\" : \"772bpRFm.4\",\n      \"featureValues\" : {\n        \"default.access\" : \"w\",\n        \"default.basetype\" : \"bool\",\n        \"default.description\" : \"Triggers reset of device\",\n        \"default.name\" : \"/hlk/reset\",\n        \"ohNBB283.mem_size\" : \"1\",\n        \"ohNBB283.mp_addr\" : \"mp8\"\n      },\n      \"definedBy\" : \"772bpRFm/0.1\"\n    }, {\n      \"id\" : \"default.1\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Device health status\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Aggregated health status\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/device/info/health/status\",\n        \"default.restriction\" : \"re:(OK|WARN|ERROR|UNKNOWN)\"\n      },\n      \"definedBy\" : \"default/0.1\"\n    }, {\n      \"id\" : \"default.2\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Device health description\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Description of health status,\\n\\t\\t\\t\\t\\t\\t\\tshould be set together with status\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/device/info/health/description\",\n        \"default.restriction\" : \"len:[0,255]\"\n      },\n      \"definedBy\" : \"default/0.1\"\n    }, {\n      \"id\" : \"default.3\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Activated features\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"List of activated features\",\n        \"default.format\" : \"application/vnd.belimo.faklist\",\n        \"default.name\" : \"/device/info/activatedFeatures\",\n        \"default.restriction\" : \"re:\\\\[(?:(\\\\{[\\\\s\\\\w_-]+,[A-Za-z0-9_-]+,[0-9]+,[0-9]+,[0-9]+\\\\})(,\\\\{[\\\\s\\\\w_-]+,[A-Za-z0-9_-]+,[0-9]+,[0-9]+,[0-9]+\\\\})*)?\\\\]\"\n      },\n      \"definedBy\" : \"default/0.1\"\n    }, {\n      \"id\" : \"zwk892PP.1\",\n      \"featureValues\" : {\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"real\",\n        \"default.description\" : \"Temperature\",\n        \"default.name\" : \"temperature\",\n        \"default.restriction\" : \"b32\"\n      },\n      \"definedBy\" : \"zwk892PP/0.2\"\n    }, {\n      \"id\" : \"zwk892PP.2\",\n      \"featureValues\" : {\n        \"default.access\" : \"rw\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Value unit ('F' or 'C')\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"unit\"\n      },\n      \"definedBy\" : \"zwk892PP/0.2\"\n    } ],\n    \"subprofileRefs\" : [ \"772bpRFm/0.1\", \"default/0.1\", \"zwk892PP/0.2\" ],\n    \"aggregatedSupportedAspects\" : [ \"default/0.2\", \"default/0.3\", \"ohNBB283/0.1\" ]\n  }, {\n    \"id\" : \"rgKmfzlB\",\n    \"version\" : \"0.1\",\n    \"ref\" : \"rgKmfzlB/0.1\",\n    \"name\" : \"restdoc.device.minimal\",\n    \"state\" : \"UNPUBLISHED\",\n    \"properties\" : { },\n    \"aspects\" : [ {\n      \"id\" : \"default\",\n      \"version\" : \"0.3\",\n      \"ref\" : \"default/0.3\",\n      \"name\" : \"default\",\n      \"properties\" : {\n        \"date\" : \"2016-12-02\",\n        \"state\" : \"final\",\n        \"author\" : \"kvg@ergon.ch\"\n      },\n      \"features\" : [ {\n        \"name\" : \"unit\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"access\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"format\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"name\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"restriction\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"basetype\",\n        \"optional\" : false\n      }, {\n        \"name\" : \"description\",\n        \"optional\" : true\n      }, {\n        \"name\" : \"privacy\",\n        \"optional\" : true\n      } ]\n    } ],\n    \"subprofiles\" : [ {\n      \"id\" : \"default\",\n      \"version\" : \"0.1\",\n      \"ref\" : \"default/0.1\",\n      \"name\" : \"belimo.device.default\",\n      \"state\" : \"LOCKED\",\n      \"properties\" : {\n        \"description\" : \"Default sub profile.\"\n      },\n      \"supportedAspects\" : [ \"default/0.3\" ],\n      \"datapoints\" : [ \"default.3\", \"default.2\", \"default.1\" ]\n    } ],\n    \"datapoints\" : [ {\n      \"id\" : \"default.1\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Device health status\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Aggregated health status\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/device/info/health/status\",\n        \"default.restriction\" : \"re:(OK|WARN|ERROR|UNKNOWN)\"\n      },\n      \"definedBy\" : \"default/0.1\"\n    }, {\n      \"id\" : \"default.2\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Device health description\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"Description of health status,\\n\\t\\t\\t\\t\\t\\t\\tshould be set together with status\",\n        \"default.format\" : \"text/plain\",\n        \"default.name\" : \"/device/info/health/description\",\n        \"default.restriction\" : \"len:[0,255]\"\n      },\n      \"definedBy\" : \"default/0.1\"\n    }, {\n      \"id\" : \"default.3\",\n      \"featureValues\" : {\n        \"bMg3Fgui.displayname\" : \"Activated features\",\n        \"bMg3Fgui.visibility\" : \"normal\",\n        \"default.access\" : \"r\",\n        \"default.basetype\" : \"text\",\n        \"default.description\" : \"List of activated features\",\n        \"default.format\" : \"application/vnd.belimo.faklist\",\n        \"default.name\" : \"/device/info/activatedFeatures\",\n        \"default.restriction\" : \"re:\\\\[(?:(\\\\{[\\\\s\\\\w_-]+,[A-Za-z0-9_-]+,[0-9]+,[0-9]+,[0-9]+\\\\})(,\\\\{[\\\\s\\\\w_-]+,[A-Za-z0-9_-]+,[0-9]+,[0-9]+,[0-9]+\\\\})*)?\\\\]\"\n      },\n      \"definedBy\" : \"default/0.1\"\n    } ],\n    \"subprofileRefs\" : [ \"default/0.1\" ],\n    \"aggregatedSupportedAspects\" : [ \"default/0.3\" ]\n  } ],\n  \"paging\" : {\n    \"total\" : 4,\n    \"offset\" : 0,\n    \"limit\" : 20\n  },\n  \"sorting\" : {\n    \"field\" : \"name\",\n    \"direction\" : \"ASC\"\n  }\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_definitions_dataprofiles291448122"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/devices/change-stream" : {
        "post" : {
          "tags" : [ "api" ],
          "operationId" : "create-subscription",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/api_v3_devices_change-stream2015278167"
            },
            "x-examples" : {
              "application/json" : "{\n  \"includedDatapointIds\" : [ \"test.1\", \"test.2\" ],\n  \"includedDeviceIds\" : [ \"011655a2-60d2-477f-83b2-a7b86c59b893\", \"99aa459a-acf9-44ce-898f-380127fe01ea\", \"4f4962f0-245d-4a42-8146-aa13007a02b4\" ]\n}"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"token\" : \"733a9e33-90cd-4dc6-b80c-e2cec776a992\",\n  \"validUntil\" : \"2018-06-05T09:53:12.452Z\"\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_devices_change-stream-1826165327"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/devices/stats" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-device-stats",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "owner",
            "in" : "query",
            "description" : "*Optional* owner of the devices to get the overview statistics for. May be an email address, user-ID or group-ID. If no value is provided, all devices that are visible to the current user will be considered, otherwise all devices that are directly or indirectly owned by the specified owner entity. Note that a response with all 0 values will result if another owner is specified by a user without elevated privileges or the owner is unknown.",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"totalDevices\" : 4,\n  \"connection\" : {\n    \"offline\" : 4,\n    \"online\" : 0\n  },\n  \"health\" : {\n    \"problem\" : 4,\n    \"ok\" : 0\n  },\n  \"transfer\" : {\n    \"incoming\" : 0,\n    \"outgoing\" : 0\n  }\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_devices_stats-1733928125"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/devices/{deviceId}" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-device",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "deviceId",
            "in" : "path",
            "description" : "Valid ID of a specific device.",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"id\" : \"9d521a42-4cdd-4c46-8f8e-341aefc164f7\",\n  \"productionId\" : \"DEV_cn-1000000\",\n  \"displayName\" : \"Heating Zone 1\",\n  \"serialNumber\" : \"serial-1000000\",\n  \"materialNumber\" : \"GR24A-EV-100\",\n  \"deviceType\" : \"1:testDevice\",\n  \"productionDate\" : \"2019-10-15T08:47:55.999Z\",\n  \"purpose\" : \"DEVELOPMENT\",\n  \"dataprofile\" : {\n    \"entityId\" : \"2uTRMlbK/1.0\",\n    \"ref\" : \"/definitions/dataprofiles/2uTRMlbK/1.0\",\n    \"displayName\" : \"restdoc.device.hlk/1.0\"\n  },\n  \"software\" : {\n    \"entityId\" : \"mp-generic-fw/234\",\n    \"ref\" : \"/software/versions/mp-generic-fw/234\"\n  },\n  \"runningSoftwareModules\" : {\n    \"csp\" : \"2.15.10-0\",\n    \"model\" : \"3.35.363-0\",\n    \"bsp\" : \"9.4.0-0\"\n  },\n  \"health\" : {\n    \"lastSeen\" : \"2018-06-20T11:04:06.000Z\",\n    \"onlineDays\" : 1,\n    \"state\" : \"WARNING\",\n    \"description\" : \"Flow too low\"\n  },\n  \"owner\" : {\n    \"entityId\" : \"EQgFhBnR\",\n    \"ref\" : \"/users/EQgFhBnR\",\n    \"displayName\" : \"John Tester\",\n    \"email\" : \"john@belimo.local\"\n  },\n  \"projectName\" : \"Demo\",\n  \"addressCity\" : \"Hinwil\",\n  \"addressCountry\" : \"CH\",\n  \"remoteControlEnabled\" : true,\n  \"claimingProtectionActive\" : false,\n  \"state\" : {\n    \"timestamp\" : \"2018-06-20T09:04:06.000Z\",\n    \"datapoints\" : {\n      \"metadata.7\" : {\n        \"value\" : \"DEVICE_CONTROLLED\"\n      },\n      \"metadata.1011\" : {\n        \"value\" : \"US\"\n      },\n      \"metadata.1001\" : {\n        \"value\" : \"serial-1000000\"\n      },\n      \"metadata.2\" : {\n        \"value\" : \"EQgFhBnR\"\n      },\n      \"metadata.6\" : {\n        \"value\" : false\n      },\n      \"metadata.5\" : {\n        \"value\" : false\n      },\n      \"metadata.3\" : {\n        \"value\" : \"testdev1/0.1\"\n      }\n    }\n  }\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_devices_deviceId-123292218"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        },
        "delete" : {
          "tags" : [ "api" ],
          "operationId" : "delete-device",
          "parameters" : [ {
            "name" : "deviceId",
            "in" : "path",
            "description" : "Valid ID of a specific device.",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "204" : {
              "description" : "",
              "examples" : { }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/devicetransfers/{transferId}" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-device-transfer",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "transferId",
            "in" : "path",
            "description" : "",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "direction",
            "in" : "query",
            "description" : "*Optional* filter to specify the direction of the returned transfers. Must be one of `INCOMING` (current user is receiver of transfer), `OUTGOING` (current user has initiated transfer) or `ALL`. Defaults to `ALL`.",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"id\" : \"9xgp0jGg\",\n  \"device\" : {\n    \"id\" : \"4af594e3-5fdb-4fc3-ad94-104cab6850f5\",\n    \"displayName\" : \"serial-1000000\",\n    \"serialNumber\" : \"serial-1000000\"\n  },\n  \"owner\" : {\n    \"id\" : \"rHIAIlzT\",\n    \"displayName\" : \"John Tester\",\n    \"email\" : \"john@belimo.local\"\n  },\n  \"receiver\" : {\n    \"id\" : \"fKTnEL7g\",\n    \"displayName\" : \"Alice Tester\",\n    \"email\" : \"alice@belimo.local\"\n  },\n  \"withData\" : false,\n  \"createdAt\" : \"2019-10-15T08:49:47.663Z\"\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_devicetransfers_transferId790170546"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        },
        "delete" : {
          "tags" : [ "api" ],
          "operationId" : "delete-device-transfer",
          "parameters" : [ {
            "name" : "transferId",
            "in" : "path",
            "description" : "",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "204" : {
              "description" : "",
              "examples" : { }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/jobs/{jobId}" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-job",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "jobId",
            "in" : "path",
            "description" : "",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"id\" : \"EnN3teNkjSE0Ld5Q\",\n  \"mergeable\" : false,\n  \"cancelable\" : false,\n  \"createdAt\" : \"2019-10-15T08:49:13.820Z\",\n  \"createdBy\" : {\n    \"entityId\" : \"l0LljYfv\",\n    \"ref\" : \"/users/l0LljYfv\",\n    \"displayName\" : \"Test_3 Tester\",\n    \"email\" : \"test_3@test.local\"\n  },\n  \"state\" : \"SUCCESS\",\n  \"confirmedAt\" : \"2019-10-15T08:49:13.825Z\",\n  \"confirmedBy\" : \"DEVICE\",\n  \"result\" : \"ok\"\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_jobs_jobId14739602"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/mobilebroker/access" : {
        "post" : {
          "tags" : [ "api" ],
          "operationId" : "post-mobilebroker-access",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/api_v3_mobilebroker_access312342152"
            },
            "x-examples" : {
              "application/json" : "{\n  \"brokerId\" : \"0041797273329\",\n  \"api\" : {\n    \"name\" : \"device-api\",\n    \"version\" : \"2.0.3\"\n  },\n  \"device\" : {\n    \"nfcId\" : \"nfc-af2e8eca\",\n    \"sic\" : \"843A429ED5AEE47D361E3011276FA812\"\n  }\n}"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"deviceId\" : \"a70e582e-df3a-445b-9f07-b14495815df3\",\n  \"apiEndpoint\" : \"https://cloud.belimo.com/device-api/v2\",\n  \"authentication\" : {\n    \"type\" : \"Basic\",\n    \"credentials\" : \"YTcwZTU4MmUtZGYzYS00NDViLTlmMDctYjE0NDk1ODE1ZGYzOnpqZTdrN2E4cjl3aTdzajQ=\",\n    \"validUntil\" : \"2018-06-20T11:09:06.000Z\"\n  }\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_mobilebroker_access-738842774"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/software/versions" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-software-versions",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "search",
            "in" : "query",
            "description" : "*Optional* parameter to filter versions by name (case insensitive infix).",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "deviceType",
            "in" : "query",
            "description" : "*Optional* parameter to filter versions by device type.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "limit",
            "in" : "query",
            "description" : "*Optional* maximum number of records to return. Defaults to 20.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "offset",
            "in" : "query",
            "description" : "*Optional* offset of the first record to return (based on the current sort). Defaults to 0.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortBy",
            "in" : "query",
            "description" : "*Optional* name of a field to sort the result. Not all fields may be supported. Defaults to `name`.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sortDirection",
            "in" : "query",
            "description" : "*Optional* sort direction (ASC or DESC). Defaults to ASC.",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"data\" : [ {\n    \"id\" : \"lgZR293l\",\n    \"deviceType\" : \"1:test\",\n    \"name\" : \"foo-1\",\n    \"modules\" : {\n      \"moduleA\" : \"1.0\",\n      \"moduleB\" : \"2.0\"\n    }\n  }, {\n    \"id\" : \"uu628MMt\",\n    \"deviceType\" : \"1:test\",\n    \"name\" : \"foo-2\",\n    \"modules\" : {\n      \"moduleA\" : \"1.1\",\n      \"moduleB\" : \"2.2\"\n    }\n  } ],\n  \"paging\" : {\n    \"total\" : 2,\n    \"offset\" : 0,\n    \"limit\" : 20\n  },\n  \"sorting\" : {\n    \"field\" : \"name\",\n    \"direction\" : \"ASC\"\n  },\n  \"filter\" : {\n    \"search\" : \"foo\",\n    \"deviceType\" : \"1:test\"\n  }\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_software_versions-898190040"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/usergroups/roles" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-user-groups-roles",
          "produces" : [ "application/json" ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"roles\" : [ \"DEVICE_ADMIN\", \"DEVICE_MAINTENANCE\", \"DEVICE_GUEST\" ]\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_usergroups_roles-1542666208"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/usergroups/{usergroupId}" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-user-group",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "usergroupId",
            "in" : "path",
            "description" : "ID of the requested user group.",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"id\" : \"7H4RGV0OBB\",\n  \"displayName\" : \"testgroup-7H4RGV0OBB\",\n  \"members\" : 2,\n  \"administrators\" : 2,\n  \"permissions\" : [ \"DELETE\", \"EDIT\" ]\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_usergroups-1577518566"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        },
        "delete" : {
          "tags" : [ "api" ],
          "operationId" : "delete-user-group",
          "parameters" : [ {
            "name" : "usergroupId",
            "in" : "path",
            "description" : "ID of the user group to delete.",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "204" : {
              "description" : "",
              "examples" : { }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/users/{userId}" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-user",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "userId",
            "in" : "path",
            "description" : "Valid ID of a user or the special value `me` to get the current user.",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"id\" : \"W4iu45dv\",\n  \"email\" : \"john@belimo.local\",\n  \"accountActivated\" : true,\n  \"locale\" : \"en_US\",\n  \"roles\" : [ ],\n  \"groups\" : [ {\n    \"entityId\" : \"ZUOJNDHF58\",\n    \"ref\" : \"/usergroups/ZUOJNDHF58\",\n    \"displayName\" : \"testgroup-ZUOJNDHF58\"\n  } ],\n  \"firstName\" : \"John\",\n  \"lastName\" : \"Tester\",\n  \"title\" : \"Dr. Dr.\",\n  \"company\" : \"Test Inc.\",\n  \"address1\" : \"Apartment 3141\",\n  \"address2\" : \"Icestreet 1\",\n  \"state\" : \"Alaska\",\n  \"zip\" : \"12345\",\n  \"city\" : \"Frozentown\",\n  \"countryCode\" : \"US\",\n  \"department\" : \"Test Department\",\n  \"jobFunction\" : \"OTHER\",\n  \"phone\" : \"0123456789\",\n  \"newsletter\" : true,\n  \"lastUpdated\" : \"2019-10-15T08:48:14.853Z\",\n  \"activationDate\" : \"2019-10-15T08:48:14.849Z\",\n  \"registrationDate\" : \"2019-10-15T08:48:14.853Z\"\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_users_userId-484905005"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        },
        "put" : {
          "tags" : [ "api" ],
          "operationId" : "put-user",
          "consumes" : [ "application/json" ],
          "parameters" : [ {
            "name" : "userId",
            "in" : "path",
            "description" : "Valid ID of a user or the special value `me` to update the current user.",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/api_v3_users_userId1236821942"
            },
            "x-examples" : {
              "application/json" : "{\n  \"locale\" : \"en_US\",\n  \"firstName\" : \"Fred\",\n  \"lastName\" : \"Feuerstein\",\n  \"title\" : \"Bronto Crane Operator\",\n  \"company\" : \"Slate Rock and Gravel Company\",\n  \"address1\" : \"c/o Burney Rubble\",\n  \"address2\" : \"345 Cave Stone Road\",\n  \"state\" : \"Rockstate\",\n  \"zip\" : \"12345\",\n  \"city\" : \"Bedrock\",\n  \"countryCode\" : \"US\",\n  \"department\" : \"Private\",\n  \"jobFunction\" : \"BUILDING_OPERATOR\",\n  \"phone\" : \"123456789\",\n  \"newsletter\" : true\n}"
            }
          } ],
          "responses" : {
            "204" : {
              "description" : "",
              "examples" : { }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/devices/change-stream/{token}" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "open-subscription",
          "produces" : [ "text/event-stream" ],
          "parameters" : [ {
            "name" : "token",
            "in" : "path",
            "description" : "A token that was previously offered to open a subscription.",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "text/event-stream" : "data:{\"deviceId\":\"011655a2-60d2-477f-83b2-a7b86c59b893\",\"device\":{\"id\":\"011655a2-60d2-477f-83b2-a7b86c59b893\",\"productionId\":\"MPUID111222333444\",\"displayName\":\"My Test Device\",\"serialNumber\":\"11111-22222-333-444\",\"materialNumber\":\"AAAAAA-BB CCC\",\"deviceType\":\"2\",\"productionDate\":\"2018-05-08T10:09:12.000Z\",\"purpose\":\"DEVELOPMENT\",\"dataprofile\":{\"entityId\":\"abcdef/0.2\",\"ref\":\"/definitions/dataprofiles/abcdef/0.2\",\"displayName\":\"abcdef\"},\"software\":{\"entityId\":\"[abc/1.0, def/2.0, ghi/3.1]\",\"ref\":\"/software/versions/[abc/1.0, def/2.0, ghi/3.1]\",\"displayName\":\"Update 42\"},\"runningSoftwareModules\":{},\"health\":{\"lastSeen\":\"2018-09-08T10:09:12.000Z\",\"onlineDays\":3,\"state\":\"WARNING\",\"description\":\"Something's wrong with me...\"},\"owner\":{\"ref\":\"/users/null\"},\"projectName\":\"BELCLOUD\",\"addressCity\":\"Zürich\",\"addressCountry\":\"CH\",\"remoteControlEnabled\":true,\"claimingProtectionActive\":false,\"state\":{\"timestamp\":\"2018-05-08T10:09:12.000Z\",\"datapoints\":{\"test.2\":{\"value\":\"value-2\"},\"test.1\":{\"value\":\"value-1\"},\"test.0\":{\"value\":\"value-0\"}}}}}\n\ndata:{\"deviceId\":\"99aa459a-acf9-44ce-898f-380127fe01ea\",\"device\":{\"id\":\"99aa459a-acf9-44ce-898f-380127fe01ea\",\"productionId\":\"MPUID111222333444\",\"displayName\":\"My Test Device\",\"serialNumber\":\"11111-22222-333-444\",\"materialNumber\":\"AAAAAA-BB CCC\",\"deviceType\":\"2\",\"productionDate\":\"2018-05-08T10:09:12.000Z\",\"purpose\":\"DEVELOPMENT\",\"dataprofile\":{\"entityId\":\"abcdef/0.2\",\"ref\":\"/definitions/dataprofiles/abcdef/0.2\",\"displayName\":\"abcdef\"},\"software\":{\"entityId\":\"[abc/1.0, def/2.0, ghi/3.1]\",\"ref\":\"/software/versions/[abc/1.0, def/2.0, ghi/3.1]\",\"displayName\":\"Update 42\"},\"runningSoftwareModules\":{},\"health\":{\"lastSeen\":\"2018-09-08T10:09:12.000Z\",\"onlineDays\":3,\"state\":\"WARNING\",\"description\":\"Something's wrong with me...\"},\"owner\":{\"ref\":\"/users/null\"},\"projectName\":\"BELCLOUD\",\"addressCity\":\"Zürich\",\"addressCountry\":\"CH\",\"remoteControlEnabled\":true,\"claimingProtectionActive\":false,\"state\":{\"timestamp\":\"2018-05-08T10:09:12.000Z\",\"datapoints\":{\"test.2\":{\"value\":\"value-2\"},\"test.1\":{\"value\":\"value-1\"},\"test.0\":{\"value\":\"value-0\"}}}}}\n\n:heartbeat\n\ndata:{\"deviceId\":\"011655a2-60d2-477f-83b2-a7b86c59b893\"}\n\ndata:{\"deviceId\":\"4f4962f0-245d-4a42-8146-aa13007a02b4\",\"device\":{\"id\":\"4f4962f0-245d-4a42-8146-aa13007a02b4\",\"productionId\":\"MPUID111222333444\",\"displayName\":\"My Test Device\",\"serialNumber\":\"11111-22222-333-444\",\"materialNumber\":\"AAAAAA-BB CCC\",\"deviceType\":\"2\",\"productionDate\":\"2018-05-08T10:09:12.000Z\",\"purpose\":\"DEVELOPMENT\",\"dataprofile\":{\"entityId\":\"abcdef/0.2\",\"ref\":\"/definitions/dataprofiles/abcdef/0.2\",\"displayName\":\"abcdef\"},\"software\":{\"entityId\":\"[abc/1.0, def/2.0, ghi/3.1]\",\"ref\":\"/software/versions/[abc/1.0, def/2.0, ghi/3.1]\",\"displayName\":\"Update 42\"},\"runningSoftwareModules\":{},\"health\":{\"lastSeen\":\"2018-09-08T10:09:12.000Z\",\"onlineDays\":3,\"state\":\"WARNING\",\"description\":\"Something's wrong with me...\"},\"owner\":{\"ref\":\"/users/null\"},\"projectName\":\"BELCLOUD\",\"addressCity\":\"Zürich\",\"addressCountry\":\"CH\",\"remoteControlEnabled\":true,\"claimingProtectionActive\":false,\"state\":{\"timestamp\":\"2018-05-08T10:09:12.000Z\",\"datapoints\":{\"test.2\":{\"value\":\"value-2\"},\"test.1\":{\"value\":\"value-1\"},\"test.0\":{\"value\":\"value-0\"}}}}}\n\n"
              }
            }
          }
        }
      },
      "/api/v3/devices/{deviceId}/activateClaimingProtection" : {
        "post" : {
          "tags" : [ "api" ],
          "operationId" : "activate-claiming-protection",
          "parameters" : [ {
            "name" : "deviceId",
            "in" : "path",
            "description" : "Valid ID of a specific device.",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "204" : {
              "description" : "",
              "examples" : { }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_accessCode" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
            "oauth2_application" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          } ]
        }
      },
      "/api/v3/devices/{deviceId}/data" : {
        "get" : {
          "tags" : [ "api" ],
          "operationId" : "get-device-data",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "deviceId",
            "in" : "path",
            "description" : "Valid ID of a specific device.",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "at",
            "in" : "query",
            "description" : "*Optional* parameter to specify at which time the state should be retrieved. Can be specified as _ISO timestamp_ (e.g. `2015-12-21T02:45:21Z`) or as milliseconds since the epoch (1/1/1970). Defaults to _now_, i.e. current state.",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "",
              "examples" : {
                "application/json" : "{\n  \"timestamp\" : \"2018-06-20T11:04:06.000Z\",\n  \"datapoints\" : {\n    \"772bpRFm.1\" : {\n      \"value\" : 49.845815134146164\n    },\n    \"772bpRFm.2\" : {\n      \"value\" : 44\n    },\n    \"zwk892PP.1\" : {\n      \"value\" : 0\n    },\n    \"772bpRFm.3\" : {\n      \"value\" : \"CLOSE\"\n    },\n    \"metadata.7\" : {\n      \"value\" : \"DEVICE_CONTROLLED\"\n    },\n    \"772bpRFm.4\" : {\n      \"value\" : true\n    },\n    \"metadata.1011\" : {\n      \"value\" : \"US\"\n    },\n    \"metadata.1001\" : {\n      \"value\" : \"serial-1000000\"\n    },\n    \"metadata.2\" : {\n      \"value\" : \"3YdEWN0d\"\n    },\n    \"metadata.6\" : {\n      \"value\" : false\n    },\n    \"metadata.5\" : {\n      \"value\" : false\n    },\n    \"metadata.3\" : {\n      \"value\" : \"testdev1/0.1\"\n    }\n  }\n}"
              },
              "schema" : {
                "$ref" : "#/definitions/api_v3_devices_deviceId_data165460063"
              }
            }
          },
          "security" : [ {
            "oauth2_password" : [ "public.read", "public.write", "read:dataprofile", "internal", "mobilebroker", "account", "claiming-protection", "experimental" ]
          }, {
[...]
